<form action="/answer" method="GET">
  <label for="question">Ask your coach anything</label><br>
  <input type="text" name="question" id="question" placeholder="What's your question?">
  <button type="submit" class="btn-primary">Ask!</button>
  <!-- <input type="submit" class="btn-primary" value="Ask!"> -->
</form>
